nav {
    position: fixed;
    top: 1em;
    bottom: 1em;
    left: 1em;
    width: 150px;
    border-radius: 6px;
    background-image: -moz-linear-gradient(top, rgb(252,252,252), rgb(247,247,247) 3%, rgb(242,242,242) 12%, rgb(217,217,217) 90%, rgb(191,191,191));
    background-image: -webkit-gradient(linear, center top, center bottom, from(rgb(252,252,252)), to(rgb(191,191,191)), color-stop(3%, rgb(247,247,247)), color-stop(12%, rgb(242,242,242)), color-stop(90%, rgb(217,217,217)));
    box-shadow: 0 0 3px rgba(0,0,0,0.75);
    ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }
    li {
        // float: left;
    }
}