nav {
    position: fixed;
    top: 1em;
    bottom: 1em;
    left: 1em;
    width: 150px;
    border-radius: 6px;
    background-image: -moz-linear-gradient(top, rgb(252,252,252), rgb(247,247,247) 3%, rgb(242,242,242) 12%, rgb(217,217,217) 90%, rgb(191,191,191));
    background-image: -webkit-gradient(linear, center top, center bottom, from(rgb(252,252,252)), to(rgb(191,191,191)), color-stop(3%, rgb(247,247,247)), color-stop(12%, rgb(242,242,242)), color-stop(90%, rgb(217,217,217)));
    box-shadow: 0 0 3px rgba(0,0,0,0.75);
    ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }
    li {
        // float: left;
    }
}

#peeps {
    position: absolute;
    top: 1em;
    bottom: 1em;
    left: 1em;
    right: 1em;
}

.peep {
    position: absolute;
    background: white;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin: 0px;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 1px 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 1px 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    img {
        -moz-border-radius: 4px;
        border-radius: 4px;
        margin-top: 4px;
        margin-left: 4px;
        margin-right: 4px;
        margin-bottom: 0px;
    }
}

.group {
    font-family: 'Merriweather', serif;
    font-size: 36px;
    position: absolute;
    color: white;
    text-shadow: black 0px 0px 4px;
}

#twitter-box {
    position: absolute;
    right: 1em;
    top: 1em;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 0px;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 1px 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 1px 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

